.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 74px;
    z-index: 100;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    background-color: rgb(145, 207, 236)
}

.toolbar__logo {
    margin-left: 1.75rem;
}

.toolbar__logo a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar_naviation-items-left ul {
    list-style: none;
    margin-right: auto;
    margin-left: 0;
    padding: 0;
    display: flex;
    color: black;
    margin-top: 10%;
}

.toolbar_naviation-items-left li {
    padding: 1rem;
    color: black;

}

.toolbar_naviation-items-left a {
    color: black;
    font-size: 1.25rem;
}


.toolbar_naviation-items-left a:hover,
.toolbar_naviation-items-left a:active {
    color: rgba(59, 59, 185, 0.678);
}

.toolbar_naviation-items-right ul {
    list-style: none;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    display: flex;
    color: black;
}

.toolbar_naviation-items-right li {
    padding: 0 .5rem;
    color: black;
    font-size: 1.5rem;
}

.toolbar_naviation-items-right a {
    color: black;
    font-size: 1.25rem;
}


.toolbar_naviation-items-right a:hover,
.toolbar_naviation-items-right a:active {
    color: rgba(59, 59, 185, 0.678);
}

@media (max-width: 768px) {
    .toolbar_naviation-items-left {
    display: none;
    }

    .toolbar_naviation-items-right {
        display: none;
    }

    .toolbar__logo {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }

    .toolbar__logo {
        margin-left: 0;
    }
}